@use "@/styles/abstracts" as *;

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text-primary);

  font-family: $font-body;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  overflow-x: hidden;
}

section {
  scroll-margin-top: 6rem;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

::selection {
  background: var(--color-primary);
  color: white;
}

button {
  font: inherit;
}

a,
button {
  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 3px;
  }
}
